/backend/vault/.env
/frontend/.env
/.venv
/backend/tests
/backend/logs
/backend/vaultapi/__pycache__
/backend/vault/__pycache__
/backend/vaultapi/migrations
/frontend/node_modules
/mobile/node_modules
/mobile/.vscode