@media (min-width: 0px) {
    .vaultView {
        display: flex;
        flex-direction: column;
        height: 105%;

        .utilsContainer {
            width: 90%;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                text-align: center;
                margin: 5px;
            }
            .addButton {
                width: 40%;
                
            }
        }
        .vaultDisplay {
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 60%;
            align-self: center;
            .vaultEntry {
                display: flex;
                flex-direction: column;
                border: 2px solid gray;
                border-radius: 20px;
                margin: 5px 0;

                .label, .username, .password, .createdAt, .updatedAt {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 5px 5px;
                    height: 60px;

                    .label, .value {
                        height: 100%;
                        align-self: flex-start;
                        justify-self: center;
                        height: 50%;
                        margin: 0 0 0 5px;
                    }
                    .label {
                        
                    }
                    .value {
                        width: 90%;
                        color: rgb(88, 88, 88);
                    }
                }
                .notes {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 5px 5px;
                    height: 80px;
                    .label, .value {
                        height: 100%;
                        align-self: flex-start;
                        justify-self: center;
                    }
                    .label {
                    }
                    .value {

                    }
                }
                .createdAt, .updatedAt {
                    flex-direction: row;

                    .label {
                        width: 115px;
                    }
                    .value {
                        width: 90%;
                        text-align: right;
                    }
                }

            }
        }
        .keySetContainer {
            width: 80%;
            position: absolute;
            top: 200px;
        }
        .keyEntryContainer {
            display: flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
            width: 80%;
            position: absolute;
            top: 200px;
            background-color: white;
            border: 2px solid gray;

            h1 {
                font-size: 30px;
                text-align: center;
            }
            input {
                width: 80%;
                text-align: center;
            }
            button {}
            h2 {
                font-size: 20px;
                color: red;
                text-align: center;
            }
        }
        .popUpContainer {
            align-self: center;
            width: 80%;
            position: absolute;
            top: 0px;
            background-color: white;
            border: 2px solid gray;
        }
        .entryCreationContainer {
            align-self: center;
            width: 80%;
            position: absolute;
            top: 200px;
            background-color: white;
            border: 2px solid gray;

            .formContainer {
                display: flex;
                flex-direction: column;
                .inputs {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 5px 0;

                    h2 {
                        text-align: left;
                    }
                    input, textarea {
                        justify-self: right;
                    }
                    textarea {
                        height: 5rem;
                        width: 220px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .vaultView {}
}