@media (min-width: 0px) {
    .headerContainer {
        width: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        p {
            font-size: clamp(0.5rem, 2.08vw + 0.045rem, 1.375rem);
            margin: 0;
            text-align: center;
            color: white;
        }
    }
}

@media (min-width: 1024px) {
    .headerContainer {
        p {
            font-size: 15px;
            margin: 5px;
        }
    }
}
