
@media (min-width: 0px) {
    .home {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    
        .homeContainer {
            display: flex;
            flex-direction: column;
            width: 90%;
            background-color: white;
            border: 2px solid gray;
            text-align: center;

            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1.5rem
            }
            h3 {
                font-size: 1rem
            }
            button {
                width: 40%;
                align-self: center;
            }
        }
    }
}

@media (min-width: 1024px) {
    .home {
        height: 87%;
        position: absolute;
        top: 110px;

        .homeContainer {
            justify-self: center;
            align-self: center;
            height: 80%;
        }
    }
}
