@media (min-width: 0px) {
    .verifyContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media (min-width: 1024px) {
}
