@use './abstracts/mixins' as *;

@media (min-width: 0px) {
    .aboutContainer {
        @include container;
        @include text;
        @include border;
        @include shadow;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: clamp(8.125rem, 23.481vw + 3.722rem, 18.75rem);
        align-self: center;
        width: 90%;
        height: 70%;

        .buttons {
            margin: clamp(0.625rem, 1.383vw + 0.366rem, 1.25rem) 0;
            display: flex;
            justify-content: space-evenly;
            width: clamp(13.75rem, 39.419vw + 6.359rem, 31.563rem);
            button {
                @include text;
                @include border;
                font-size: clamp(1.25rem, 2.766vw + 0.731rem, 2.5rem);
                background: none;
            }
            
        }
        .about, .legal, .credits {
            margin: 0 clamp(0.938rem, 4.841vw + 0.03rem, 3.125rem);
            height: 80%;
            overflow-y: scroll;
            p {
                font-size: clamp(0.938rem, 2.075vw + 0.548rem, 1.875rem);
            }
            a {
                @include highlight;
                margin: 5px 0;
                font-size: clamp(0.938rem, 2.075vw + 0.548rem, 1.875rem);
                img {
                    width: clamp(3.125rem, 12.448vw + 0.791rem, 8.75rem);
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .aboutContainer {
        top: clamp(9.063rem, 8.38vw + 3.694rem, 13.75rem);
        .buttons {
            width: clamp(25rem, 11.161vw + 17.857rem, 31.25rem);
            button {
                font-size: clamp(1.563rem, 1.116vw + 0.848rem, 2.188rem);
            }
        }
        .about, .legal, .credits {
            margin: 0 clamp(0.938rem, 4.841vw + 0.03rem, 3.125rem);
            height: 70%;
            p {
                font-size: clamp(0.938rem, 1.674vw - 0.134rem, 1.875rem);
            }

            a {
                margin: 5px 0;
                font-size: clamp(0.938rem, 1.674vw - 0.134rem, 1.875rem);
                img {
                    width: clamp(3.125rem, 5.58vw - 0.446rem, 6.25rem);
                }
            }
        }
    }
}

// Mobile in landscape
@media (orientation = landscape) and (pointer: coarse){
    .aboutContainer {
        top: clamp(5.938rem, 15.012vw + 1.246rem, 14.063rem);
        height: clamp(11.875rem, 61.201vw - 7.25rem, 45rem);
        .buttons {
            width: clamp(25rem, 11.161vw + 17.857rem, 31.25rem);
            button {
                font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
            }
        }
        .about, .legal, .credits {
            margin: 0 clamp(0.938rem, 4.841vw + 0.03rem, 3.125rem);
            height: 70%;
            p {
                font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
            }

            a {
                margin: 5px 0;
                font-size: clamp(0.938rem, 1.674vw - 0.134rem, 1.875rem);
                img {
                    width: clamp(3.125rem, 5.58vw - 0.446rem, 6.25rem);
                }
            }
        }
    }
}