@use './abstracts/mixins' as *;

// Mobile in portrait
@media (min-width: 0px) {
    .menuContainer,
    .menuContainerOpen {
        @include container;
        @include text;
        @include border;
        @include shadow;
        width: clamp(16.875rem, 62.155vw + 5.221rem, 45rem);
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 0 0 clamp(2.5rem, 11.065vw + 0.425rem, 7.5rem);
        position: absolute;
        top: clamp(3.75rem, 6.916vw + 2.453rem, 6.875rem);
        z-index: 1;
        .staticMenuBar {
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: center;
            .logo {
                width: clamp(2.938rem, 9.392vw + 1.176rem, 7.188rem);
                height: clamp(2.938rem, 9.392vw + 1.176rem, 7.188rem);
                align-self: center;
                border-radius: clamp(0.625rem, 2.309vw - 0.097rem, 1.875rem);
                margin: clamp(0.125rem, 0.415vw + 0.047rem, 0.313rem) 0 clamp(0.125rem, 0.415vw + 0.047rem, 0.313rem) calc(clamp(0.625rem, 1.155vw + 0.264rem, 1.25rem)* -1); 
            }
            .title {
                display: flex;
                flex-direction: column;
                height: auto;
                justify-content: center;
                align-self: center;
                margin: clamp(0.313rem, 1.383vw + 0.053rem, 0.938rem) 0 clamp(0.313rem, 1.383vw + 0.053rem, 0.938rem) calc(clamp(3.125rem, 11.065vw + 1.05rem, 8.125rem) * -1);
                h1 {
                    justify-self: flex-start;
                    font-size: clamp(1.75rem, 5.801vw + 0.662rem, 4.375rem);
                    font-weight: 700;
                    margin: 0;
                    line-height: clamp(1.375rem, 4.696vw + 0.494rem, 3.5rem);
                }
            }
            h2 {
                justify-self: flex-end;
            }
            button {
                height: auto;
                justify-self: center;
                align-self: center;
                background: none;
                border: none;
                img {
                    width: clamp(1.563rem, 8.299vw + 0.006rem, 5.313rem);
                    height: clamp(1.563rem, 8.299vw + 0.006rem, 5.313rem);
                    border-radius: 0;
                }
            }
        }
        .mobileMenu {
            display: flex;
            justify-content: space-around;
            align-self: center;
            height: clamp(3.75rem, 17.981vw + 0.379rem, 11.875rem);
            width: 90%;
            @include icon;
        }
    }
}

// Desktop
@media (min-width: 1025px) {
    .menuContainer {
        width: clamp(38.75rem, 38.504vw + 14.107rem, 60.313rem);
        top: clamp(2.188rem, 2.232vw + 0.759rem, 3.438rem);
        z-index: 0;
        .staticMenuBar {
            @include icon;
            .logoTitle {
                display: flex;
                flex-direction: row;
                .logo {
                    height: clamp(3.438rem, 4.464vw + 0.58rem, 5.938rem);
                    width: clamp(3.438rem, 4.464vw + 0.58rem, 5.938rem);
                    border-radius: clamp(0.625rem, 0.558vw + 0.268rem, 0.938rem);
                    margin: clamp(0.313rem, 0.558vw - 0.045rem, 0.625rem) 0 clamp(0.313rem, 0.558vw - 0.045rem, 0.625rem) calc(clamp(1.25rem, 1.116vw + 0.536rem, 1.875rem) * -1); 
                }
                .title {
                    margin: 5px 0 5px 0;
                    h1 {
                        font-size: clamp(2.188rem, 3.348vw + 0.045rem, 4.063rem);
                        line-height: clamp(1.813rem, 2.455vw + 0.241rem, 3.188rem);
                    }
                }
            }
        }
    }
}

// Mobile in landscape
@media (orientation = landscape) and (pointer: coarse){
    .menuContainer, .menuContainerOpen {
        width: clamp(14.375rem, 31.178vw + 4.632rem, 31.25rem);
        top: clamp(2.813rem, 4.042vw + 1.55rem, 5rem);
        .staticMenuBar {
            .logo {
                height: clamp(1.875rem, 4.619vw + 0.432rem, 4.375rem);
                width: clamp(1.875rem, 4.619vw + 0.432rem, 4.375rem);
                border-radius: clamp(0.625rem, 0.558vw + 0.268rem, 0.938rem);
                margin: clamp(0.125rem, 0.346vw + 0.017rem, 0.313rem) 0; 
            }
            .title {
                margin: clamp(0.125rem, 0.346vw + 0.017rem, 0.313rem) 0 clamp(0.125rem, 0.346vw + 0.017rem, 0.313rem) calc(clamp(2.813rem, 5.196vw + 1.189rem, 5.625rem)* -1);
                h1 {
                    font-size: clamp(1.25rem, 3.464vw + 0.167rem, 3.125rem);
                    line-height: clamp(1rem, 2.771vw + 0.134rem, 2.5rem);
                }
            }
            button {
                img {
                    height: auto;
                    width: clamp(1.563rem, 2.887vw + 0.66rem, 3.125rem);
                }
            }
        }
        .mobileMenu {
            z-index: 100000;
            display: flex;
            justify-content: space-around;
            align-self: center;
            height: clamp(2.813rem, 5.196vw + 1.189rem, 5.625rem);
            width: 90%;
        }
    }
}