@use './abstracts/mixins' as *;

:root {
    --theme: light;
    color-scheme: var(--theme);
    overflow: hidden;
    @include background;
}

//Mobile in Portrait
@media (min-width: 0px) {
    .changeContainer {
        @include container;
        @include text;
        @include border;
        @include shadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        text-align: center;
        margin: 10px;
        width: clamp(17.5rem, 44.199vw + 9.213rem, 37.5rem);
        height: auto;
        h1 {
            font-size: clamp(0.938rem, 2.075vw + 0.548rem, 1.875rem);
        }
        input {
            font-size: clamp(0.938rem, 2.075vw + 0.548rem, 1.875rem);
            align-self: center;
            width: clamp(12.5rem, 34.53vw + 6.026rem, 28.125rem);
        }
        button {
            @include border;
            @include text;
            background: none;
            margin: 10px;
            width: 150px;
            font-size: clamp(0.938rem, 2.075vw + 0.548rem, 1.875rem);
            align-self: center;
        }
    }
}

// Desktop
@media (min-width: 1025px) {
    .verifyContainer {
        h1 {
            font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
        }
        h2 {
            font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
        }
    }
}

// Mobile in landscape
@media (orientation = landscape) and (pointer: coarse){
    .verifyContainer {
        h1 {
            font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
        }
        h2 {
            font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
        }
    }
}
