@use './abstracts/mixins' as *;

// Mobile in portrait
@media (min-width: 0px) {
    .signIn {
        width: 100%;
        height: 77vh;
        display: flex;
        justify-content: center;
        position: absolute;
        top: clamp(6.875rem, 27.663vw + 1.688rem, 19.375rem);
        z-index: 1;
        .signInContainer {
            @include container;
            @include text;
            @include border;
            @include shadow;
            display: flex;
            flex-direction: column;
            width: 90%;
            height: auto;
            border: none;
            text-align: center;
            align-self: center;
            .formContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 50%;
                margin: 0 0 clamp(0.438rem, 4.564vw - 0.418rem, 2.5rem);
            
                .forms {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    align-self: center;

                    h1 {
                        text-align: center;
                        font-size: clamp(1.563rem, 6.224vw + 0.395rem, 4.375rem);
                        margin: 0;
                    }
                    input {
                        margin: clamp(0.25rem, 1.521vw - 0.035rem, 0.938rem) 0;
                        font-size: clamp(0.938rem, 2.766vw + 0.419rem, 2.188rem);
                    }

                    button {
                        width: auto;
                        align-self: center;
                        @include text;
                        @include border;
                        background: none;
                        font-size: clamp(0.938rem, 2.766vw + 0.419rem, 2.188rem);
                        padding: clamp(0.125rem, 0.415vw + 0.047rem, 0.313rem) clamp(0.313rem, 1.383vw + 0.053rem, 0.938rem);
                    }
                }

                .forgottenButton {
                    width: auto;
                    align-self: center;
                    margin: clamp(0.563rem, 2.905vw + 0.018rem, 1.875rem) 0 0 0;
                    padding: clamp(0.125rem, 0.415vw + 0.047rem, 0.313rem) clamp(0.313rem, 1.383vw + 0.053rem, 0.938rem);
                    @include text;
                    @include border;
                    background: none;
                    font-size: clamp(0.938rem, 2.766vw + 0.419rem, 2.188rem);
                }
            }

            .popUpContainer {
                display: flex;
                flex-direction: column;
                width: 90%;
                position: absolute;
                top: 100px;
                align-self: center;
                @include container;
                @include text;
                @include border;
                @include copy;
                button {
                    border: none;
                    background: none;
                    align-self: flex-end;
                    margin: clamp(0.313rem, 1.381vw + 0.054rem, 0.938rem) clamp(0.313rem, 1.381vw + 0.054rem, 0.938rem) 0 0;
                }
                h1 {
                        text-align: center;
                        font-size: clamp(1.563rem, 6.224vw + 0.395rem, 4.375rem);
                        margin: calc(clamp(0.313rem, 1.381vw + 0.054rem, 0.938rem)* -1) 0 0;
                    }

            }
            .totpContainer {
                @include container;
                @include text;
                @include border;
                position: absolute;
                top: clamp(1.125rem, 4.85vw - 0.391rem, 3.75rem);
                width: 90%;
                height: auto;
                flex-direction: column;
                display: flex;
                justify-content: center;
                h2 {
                    text-align: center;
                    align-self: center;
                    font-size: clamp(0.938rem, 4.149vw + 0.159rem, 2.813rem);
                    margin: clamp(0rem, 2.766vw - 0.519rem, 1.25rem) clamp(0.313rem, 2.075vw - 0.077rem, 1.25rem);
                }
                .code {
                    svg {
                        align-self: center;
                        width: clamp(9.375rem, 20.718vw + 5.49rem, 18.75rem);
                        height: clamp(9.375rem, 20.718vw + 5.49rem, 18.75rem);
                        min-width: 76px;
                        min-height: 76px
                    }
                    .string {
                        @include copy;
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        align-self: center;
                        justify-content: center;
                        h3 {
                            font-size: clamp(0.938rem, 4.149vw + 0.159rem, 2.813rem);
                            text-align: center;
                            align-self: center;
                            margin: 0 clamp(0.625rem, 1.381vw + 0.366rem, 1.25rem) 0 0;
                        }
                    }
                    input {
                        width: 60%;
                        align-self: center;
                        margin: 5px;
                        font-size: clamp(0.938rem, 4.149vw + 0.159rem, 2.813rem);
                        text-align: center;
                    }
                    button {
                        @include border;
                        background: none;
                        width: 50%;
                        align-self: center;
                        margin: clamp(0rem, 3.458vw - 0.648rem, 1.563rem) clamp(0rem, 3.458vw - 0.648rem, 1.563rem) clamp(0.313rem, 2.766vw - 0.206rem, 1.563rem) clamp(0rem, 3.458vw - 0.648rem, 1.563rem);
                        font-size: clamp(0.938rem, 4.149vw + 0.159rem, 2.813rem);
                    }
                    h4 {
                        font-size: clamp(0.938rem, 4.149vw + 0.159rem, 2.813rem);
                        margin: 0;
                    }
                }
            }
        }
    }
}

// Desktop
@media (min-width: 1025px) {
    .signIn {
        height: 0;
        position: absolute;
        top: clamp(6.563rem, 7.813vw + 1.563rem, 10.938rem);
        .signInContainer {
            justify-self: center;
            align-self: start;
            height: auto;
            justify-content: space-between;
            flex-direction: row;
            width: clamp(32.188rem, 29.018vw + 13.616rem, 48.438rem);
            z-index: 1000000;
            .formContainer {
                height: 100%;
                width: 100%;
                justify-items: center;
                margin: 0 0 clamp(0.625rem, 1.116vw - 0.089rem, 1.25rem);
                .forms {
                    width: 80%;
                    h1 {
                        font-size: clamp(1.25rem, 1.116vw + 0.536rem, 1.875rem);
                    }
                    input {
                        font-size: clamp(0.938rem, 0.558vw + 0.58rem, 1.25rem);
                    }
                    button {
                        font-size: clamp(0.938rem, 0.558vw + 0.58rem, 1.25rem);
                    }
                }
                .forgottenButton {
                    width: auto;
                    justify-self: center;
                    font-size: clamp(0.938rem, 0.558vw + 0.58rem, 1.25rem);
                    margin: 10px 0 0;
                }
            }
            .popUpContainer {
                width: clamp(32.188rem, 29.018vw + 13.616rem, 48.438rem);
                button {
                    margin: clamp(0.313rem, 0.559vw - 0.045rem, 0.625rem) clamp(0.313rem, 0.559vw - 0.045rem, 0.625rem) 0 0;
                    z-index: 1000000;
                }
                h1 {
                    font-size: clamp(1.25rem, 1.116vw + 0.536rem, 1.875rem);
                    margin: -20px 0 clamp(0.313rem, 0.559vw - 0.045rem, 0.625rem);
                }
            }
            .totpContainer {
                @include container;
                @include text;
                @include border;
                position: absolute;
                top: 0;
                width: clamp(32.188rem, 29.018vw + 13.616rem, 48.438rem);
                h2 {
                    font-size: clamp(0.938rem, 1.116vw + 0.223rem, 1.563rem);
                    margin: 10px;
                }
                .code {
                    svg {
                        width: 10vw;
                        height: 10vw;
                    }
                    h3 {
                        font-size: clamp(0.938rem, 1.116vw + 0.223rem, 1.563rem);
                        margin: 10px;
                    }
                    .string {
                        width: 100%;
                        h3 {
                            font-size: clamp(0.938rem, 1.116vw + 0.223rem, 1.563rem);
                            margin: 10px;
                        }
                    }
                    input {
                        width: 15%;
                        margin: 0;
                        font-size: clamp(0.938rem, 1.116vw + 0.223rem, 1.563rem);
                    }
                    button {
                        width: 15%;
                        margin: 10px;
                        font-size: clamp(0.938rem, 1.116vw + 0.223rem, 1.563rem);
                    }
                    h4 {
                        font-size: clamp(0.938rem, 1.116vw + 0.223rem, 1.563rem);
                        margin: 5px;
                    }
                }
            }
        }
    }
}

// Mobile in landscape
@media (orientation = landscape) and (pointer: coarse){
    .signIn {
        top: clamp(4.688rem, 14.434vw + 0.177rem, 12.5rem);
        .signInContainer {
            width: clamp(28.125rem, 51.963vw + 11.887rem, 56.25rem);
            flex-direction: row;
            .formContainer {
                height: 100%;
                width: 100%;
                justify-items: center;
                margin: 0 0 clamp(0.625rem, 1.116vw - 0.089rem, 1.25rem);
                .forms {
                    width: 80%;
                    h1 {
                        font-size: clamp(1.25rem, 2.309vw + 0.528rem, 2.5rem);
                    }
                    input {
                        font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
                    }
                    button {
                        font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
                    }
                }
                .forgottenButton {
                    width: auto;
                    justify-self: center;
                    font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
                    margin: 10px 0 0;
                }
            }
            .popUpContainer {
                width: clamp(28.125rem, 51.963vw + 11.887rem, 56.25rem);
                button {
                    z-index: 100000;
                }
                h1 {
                    font-size: clamp(1.25rem, 2.309vw + 0.528rem, 2.5rem);
                    margin: -20px 0 clamp(0.313rem, 1.155vw - 0.048rem, 0.938rem);
                }
            }
            .totpContainer {
                top: calc(clamp(1.25rem, -2.309vw + 1.972rem, 0rem));
                width: clamp(28.125rem, 51.963vw + 11.887rem, 56.25rem);
                flex-direction: row;
                height: clamp(11.938rem, 41.455vw - 1.017rem, 34.375rem);
                h2 {
                    font-size: clamp(0.938rem, 2.309vw + 0.216rem, 2.188rem);
                    width: 50%;
                }
                .code {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    align-self: center;
                    svg {
                        width: clamp(4.688rem, 23.095vw - 2.53rem, 17.188rem);
                        height: clamp(4.688rem, 23.095vw - 2.53rem, 17.188rem);
                    }
                    .string {
                        width: 100%;
                        justify-content: center;
                        h3 {
                            font-size: clamp(0.938rem, 2.309vw + 0.216rem, 2.188rem);
                            margin: clamp(0.125rem, 0.346vw + 0.017rem, 0.313rem) clamp(0.625rem, 1.155vw + 0.264rem, 1.25rem) clamp(0.125rem, 0.346vw + 0.017rem, 0.313rem) 0;
                        }
                    }
                    input {
                        width: 35%;
                        margin: 0;
                        font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
                    }
                    button {
                        width: auto;
                        margin: clamp(0.5rem, 0.808vw + 0.247rem, 0.938rem);
                        font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
                    }
                    h4 {
                        font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
                        margin: 0;
                    }
                }
            }
        }
    }
}