@use './abstracts/mixins' as *;

// Mobile in portrait
@media (min-width: 0px) {
    .vaultView {
        width: 100%;
        height: clamp(23.125rem, 80.11vw + 8.104rem, 59.375rem);
        display: flex;
        justify-content: center;
        position: absolute;
        top: clamp(7.813rem, 32.503vw + 1.718rem, 22.5rem);
        flex-direction: column;

        .utilsContainer {
            @include container;
            @include border;
            @include shadow;
            @include text;
            width: clamp(17rem, 55.048vw + 6.678rem, 41.875rem);
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;

            input {
                @include text;
                text-align: center;
                margin: clamp(0.313rem, 0.692vw + 0.183rem, 0.625rem);
                font-size: clamp(0.938rem, 2.075vw + 0.548rem, 1.875rem);
            }
            .addButton {
                width: auto;
                @include border;
                @include text;
                background: none;
                font-size: clamp(0.938rem, 2.075vw + 0.548rem, 1.875rem);
                margin: clamp(0.313rem, 0.692vw + 0.183rem, 0.625rem);
            }
        }
        .vaultDisplay {
            @include container;
            @include border;
            @include shadow;
            @include text;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: clamp(0.625rem, 4.149vw - 0.153rem, 2.5rem) 0 0;
            overflow-y: scroll;
            display: flex;
            width: 90%;
            height: clamp(16.25rem, 130.014vw - 8.128rem, 75rem);
            align-self: center;
            .vaultEntry {
                @include container;
                @include border;
                @include shadow;
                @include text;
                @include copy;
                display: flex;
                flex-direction: column;
                margin: 5px 0;
                overflow: clip;
                width: 97%;
                margin: 5px 0;

                .tag {
                    position: relative;
                    left: clamp(12.25rem, 72.376vw - 1.32rem, 45rem);
                    top: -4px;
                    margin: 0;
                    width: clamp(5.938rem, 21.438vw + 1.918rem, 15.625rem);
                    height: clamp(2.75rem, 7.746vw + 1.298rem, 6.25rem);
                    transform: rotate(45deg);
                    display: flex;

                    h3 {
                        margin: 0;
                        text-align: center;
                        color: white;
                        width: 100%;
                        align-self: end;
                    }
                }
                .work {
                    background-color: green;
                    h3 {
                        font-size: clamp(1.188rem, 3.315vw + 0.566rem, 2.688rem);
                    }
                }
                .social {
                    background-color: blue;
                    h3 {
                        font-size: clamp(1.188rem, 3.315vw + 0.566rem, 2.688rem);
                    }
                }
                .school {
                    background-color: red;
                    h3 {
                        font-size: clamp(1.063rem, 3.453vw + 0.415rem, 2.625rem);
                    }
                }
                .personal {
                    background-color: gray;
                    h3 {
                        font-size: clamp(0.938rem, 2.901vw + 0.394rem, 2.25rem);
                    }
                }
                .none {
                    background-color: none;
                }
                .website, .username, .password, .createdAt, .updatedAt, .notes {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: clamp(0.313rem, 0.691vw + 0.183rem, 0.625rem) clamp(0.313rem, 3.453vw - 0.335rem, 1.875rem);
                    height: auto;

                    .label, .value {
                        align-self: flex-start;
                        justify-self: center;
                        height: 50%;
                        margin: 0 0 0 5px;
                        font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                    }
                    .row {
                        display: flex;
                        flex-direction: row;
                        .value {
                            align-self: flex-start;
                            justify-self: center;
                            height: 50%;
                            margin: 0 0 0 5px;
                            font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                        }
                    }
                    button {
                        @include text;
                        width: auto;
                        font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                    }
                }
                .website {
                    margin-top: calc(clamp(2.188rem, 5.525vw + 1.152rem, 4.688rem)* -1);
                }
                .username {
                    .value {
                        font-size: clamp(0.75rem, 3.867vw + 0.025rem, 2.5rem);
                    }
                }
                .notes {
                    flex-direction: row;
                    height: auto;
                }
                .createdAt, .updatedAt {
                    flex-direction: row;
                    .label {
                        width: clamp(6.563rem, 19.337vw + 2.937rem, 15.313rem);
                    }
                    .value {
                        width: 90%;
                        text-align: right;
                    }
                }
                .buttons {
                    display: flex;
                    justify-content: space-around;
                    margin: 5px;
                    @include copy;
                }
                .arrow {
                    align-self: center;
                    transform: rotate(180deg);
                    background: none;
                    border: none;
                }
            }
            .hidden {
                margin: 5px 0;
                .tag {
                    left: clamp(13.25rem, 78.453vw - 1.46rem, 48.75rem);
                    top: calc(clamp(0.5rem, 0.552vw + 0.396rem, 0.75rem)* -1);
                    width: clamp(5rem, 16.166vw - 0.052rem, 13.75rem);
                    height: clamp(2.5rem, 6.928vw + 0.335rem, 6.25rem);
                    h3 {
                        font-size: clamp(0.625rem, 1.657vw + 0.314rem, 1.375rem);
                    }
                }
                .username, .password, .createdAt, .updatedAt, .notes {
                    display: none;
                }
                .website {
                    margin-top: calc(clamp(1.875rem, -1.383vw + 2.134rem, 1.25rem)* -1);
                    flex-direction: row;
                    width: clamp(13.438rem, 78.039vw - 1.195rem, 48.75rem);
                    .label {
                        margin: 0 clamp(0rem, 2.762vw - 0.518rem, 1.25rem) 0 0;
                    }
                    button {
                        display: none;
                    }
                }
                .buttons {
                    display: none;
                }
                .arrow {
                    align-self: center;
                    transform: unset;
                    background: none;
                    border: none;
                }
            }
        }
        .keyContainer {
            @include container;
            @include text;
            @include border;
            @include shadow;
            display: flex;
            flex-direction: column;
            width: 90%;
            height: auto;
            text-align: center;
            align-self: center;
            position: absolute;
            top: 0;

            h1, h2 {
                font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                margin: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
            }
            input {
                font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                align-self: center;
                width: 80%;
                text-align: center;
            }
            button {
                @include text;
                @include border;
                background: none;
                font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                margin: clamp(0.625rem, 4.149vw - 0.153rem, 2.5rem);
                align-self: center;
                width: clamp(8.438rem, 32.503vw + 2.343rem, 23.125rem);
            }
        }
        .popUpContainer {
            @include popup;
            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center ;
                button {
                    @include border;
                    @include text;
                    background: none;
                    margin: 5px;
                    width: auto;
                    height: auto;
                    font-size: clamp(0.938rem, 2.075vw + 0.548rem, 1.875rem);
            }
            }
            
        }
        .entryCreationContainer {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            text-align: center;
            align-self: center;
            position: absolute;
            top: calc(clamp(7.75rem, 43.015vw - 0.315rem, 27.188rem)* -1);
            z-index: 1000000;
            backdrop-filter: blur(clamp(0.063rem, 0.692vw - 0.067rem, 0.375rem));
            .formContainer {
                @include container;
                @include text;
                @include border;
                @include shadow;
                display: flex;
                flex-direction: column;
                width: 90%;
                height: auto;
                text-align: center;
                align-self: center;
                position: absolute;
                top: clamp(5rem, 44.26vw - 3.299rem, 25rem);
                .inputs {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 2px 0;

                    label, h2 {
                        text-align: left;
                        font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                        margin: 0;
                        font-weight: 500;
                    }
                    input, textarea {
                        justify-self: right;
                        width: 80%;
                        font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                    }
                    button {
                        @include border;
                        @include text;
                        background: none;
                        margin: clamp(0.313rem, 1.381vw + 0.054rem, 0.938rem) 0 0;
                        font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                    }
                    textarea {
                        height: clamp(3rem, 15.491vw + 0.095rem, 10rem);
                        width: 80%;
                    }
                    .checkBoxes {
                        display: flex;
                        flex-direction: row;
                        .checkBox {
                            height: auto;
                            width: clamp(0.625rem, 2.072vw + 0.237rem, 1.563rem);
                            margin: 0 clamp(0.313rem, 2.762vw - 0.205rem, 1.563rem) 0 clamp(0.125rem, 1.105vw - 0.082rem, 0.625rem);
                        }
                    }
                }
                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    margin: clamp(0.313rem, 1.381vw + 0.054rem, 0.938rem) 0;
                    button {
                        @include border;
                        @include text;
                        background: none;
                        width: 40%;
                        align-self: center;
                        font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                    }
                }
                h3 {
                    font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                    margin: 1px;
                }
            }
        }
        .loading {
            display: flex;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: calc(clamp(7.75rem, 31.906vw + 1.768rem, 22.188rem)* -1);
            backdrop-filter: blur(clamp(0.125rem, 0.414vw + 0.047rem, 0.313rem));
            z-index: 10;
            justify-content: center;
            align-self: center;
            .badge {
                @include container;
                @include background;
                @include border;
                width: 30%;
                aspect-ratio: 1 / 1;
                align-self: center;
                display: flex;
                justify-content: center;
                video {
                    width: 80%;
                    height: 80%;
                    align-self: center;
                }
            }
        }
    }
}

// Desktop
@media (min-width: 1025px) {
    .vaultView {
        width: clamp(51.25rem, 81.564vw - 1.002rem, 96.875rem);
        align-self: center;
        height: 75%;
        top: clamp(8.125rem, 8.939vw + 2.399rem, 13.125rem);

        .utilsContainer {
            width: auto;
            input {
                margin: clamp(0.625rem, 1.117vw - 0.091rem, 1.25rem) clamp(3.75rem, 2.235vw + 2.318rem, 5rem);
                font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
            }
            .addButton {
                font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
                margin: 0 0 clamp(0.625rem, 1.117vw - 0.091rem, 1.25rem);
            }
        }
        .vaultDisplay {
            margin: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem) 0 0;
            height: clamp(16.25rem, 130.014vw - 8.128rem, 75rem);
            .vaultEntry {
                margin: 5px 0;
                width: 97%;
                margin: 5px 0;

                .tag {
                    left: clamp(38.75rem, 63.017vw - 1.62rem, 74rem);
                    top: clamp(-0.625rem, 1.117vw - 1.341rem, 0rem);
                    width: clamp(8.75rem, 11.173vw + 1.592rem, 15rem);
                    height: clamp(4.375rem, 3.352vw + 2.228rem, 6.25rem);

                    h3 {
                        margin: 0;
                    }
                }
                .work {
                    h3 {
                        font-size: clamp(1.875rem, 2.235vw + 0.443rem, 3.125rem);
                        margin: 0 0 calc(clamp(0.313rem, 0.559vw - 0.045rem, 0.625rem)* -1);
                    }
                }
                .social {
                    h3 {
                        font-size: clamp(1.875rem, 2.235vw + 0.443rem, 3.125rem);
                        margin: 0 0 calc(clamp(0.313rem, 0.559vw - 0.045rem, 0.625rem)* -1);
                    }
                }
                .school {
                    h3 {
                        font-size: clamp(1.688rem, 2.235vw + 0.256rem, 2.938rem);
                        margin: 0 0 calc(clamp(0.313rem, 0.559vw - 0.045rem, 0.625rem)* -1);
                    }
                }
                .personal {
                    h3 {
                        font-size: clamp(1.375rem, 1.899vw + 0.158rem, 2.438rem);
                        margin: 0 0 calc(clamp(0.313rem, 0.559vw - 0.045rem, 0.625rem)* -1);
                    }
                }
                .website, .username, .password, .createdAt, .updatedAt, .notes {
                    margin: clamp(0.313rem, 0.691vw + 0.183rem, 0.625rem) clamp(0.313rem, 3.453vw - 0.335rem, 1.875rem);

                    .label, .value {
                        margin: 0 0 0 5px;
                        font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
                    }
                    .row {
                        display: flex;
                        flex-direction: row;
                        .value {
                            height: 100%;
                            align-self: flex-start;
                            justify-self: center;
                            height: 50%;
                            margin: 0 0 0 5px;
                            font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
                        }
                    }
                    button {
                        font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
                    }
                }
                .website {
                    margin-top: calc(clamp(3.125rem, 2.793vw + 1.336rem, 4.688rem)* -1);
                }
                .username {
                    .value {
                        font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
                    }
                }
                .createdAt, .updatedAt {
                    flex-direction: row;
                    width: clamp(25rem, 22.346vw + 10.684rem, 37.5rem);
                }
                .arrow {
                    margin: 0 0 clamp(0.625rem, 1.117vw - 0.091rem, 1.25rem);
                }
            }
            .hidden {
                margin: 5px 0;
                .tag {
                    left: clamp(40.313rem, 67.039vw - 2.634rem, 77.813rem);
                    top: clamp(-0.75rem, 1.341vw - 1.609rem, 0rem);
                    width: clamp(6.875rem, 6.145vw + 2.938rem, 10.313rem);
                    height: clamp(3.75rem, 1.117vw + 3.034rem, 4.375rem);
                    h3 {
                        font-size: clamp(1.063rem, 0.782vw + 0.561rem, 1.5rem);
                        margin: 0 0 -5px calc(clamp(0.188rem, 0.223vw + 0.044rem, 0.313rem) * -1);
                    }
                }
                .username, .password, .createdAt, .updatedAt, .notes {
                    display: none;
                }
                .website {
                    margin: -45px clamp(1.875rem, 1.117vw + 1.159rem, 2.5rem) 0;
                    flex-direction: row;
                    width: clamp(36.25rem, 65.922vw - 5.981rem, 73.125rem);
                    .label {
                        margin: 0 clamp(0rem, 2.762vw - 0.518rem, 1.25rem) 0 0;
                    }
                    button {
                        display: none;
                    }
                }
                .buttons {
                    display: none;
                }
                .arrow {

                    transform: unset;
                    background: none;
                    border: none;
                }
            }
        }
        .keyContainer {
            width: clamp(27.5rem, 26.816vw + 10.321rem, 42.5rem);

            h1, h2 {
                font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
                margin: clamp(0.625rem, 1.117vw - 0.091rem, 1.25rem);
            }
            input {
                font-size: clamp(0.938rem, 0.559vw + 0.58rem, 1.25rem);
                width: clamp(16.875rem, 16.201vw + 6.496rem, 25.938rem);
            }
            button {
                font-size: clamp(0.938rem, 0.559vw + 0.58rem, 1.25rem);
                margin: clamp(0.625rem, 1.117vw - 0.091rem, 1.25rem) 0 0;
                width: auto;
            }
        }
        .popUpContainer {
                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-content: center ;
                    button {
                        margin: 5px;
                    }
                }
        }
        .entryCreationContainer {
            top: calc(clamp(8.063rem, 8.827vw + 2.408rem, 13rem)* -1);
            .formContainer {
                width: clamp(45rem, 48.045vw + 14.221rem, 71.875rem);
                top: clamp(3.125rem, 16.76vw - 7.612rem, 12.5rem);
                .inputs {
                    margin: 2px 0;

                    label, h2 {
                        text-align: left;
                        font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
                        margin: 0;
                        font-weight: 500;
                    }
                    input, textarea {
                        font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
                    }
                    button {
                        margin: clamp(0.625rem, 0.559vw + 0.267rem, 0.938rem);
                        font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
                    }
                    textarea {
                        height: clamp(5rem, 3.352vw + 2.853rem, 6.875rem);
                    }
                    .checkBoxes {
                        .checkBox {
                            width: clamp(0.938rem, 1.117vw + 0.222rem, 1.563rem);
                            margin: 0 clamp(0.313rem, 2.762vw - 0.205rem, 1.563rem) 0 clamp(0.125rem, 1.105vw - 0.082rem, 0.625rem);
                        }
                    }
                }
                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    margin: clamp(0.313rem, 1.381vw + 0.054rem, 0.938rem) 0;
                    button {
                        @include border;
                        @include text;
                        background: none;
                        width: 40%;
                        align-self: center;
                        font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
                    }
                }
                h3 {
                    font-size: clamp(1.25rem, 1.117vw + 0.534rem, 1.875rem);
                    margin: 1px;
                }
            }
        }
        .loading {
            top: calc(clamp(8.063rem, 8.268vw + 2.766rem, 12.688rem)* -1);
            .badge {
                width: 15%;
                max-width: 300px;
                video {
                    width: 80%;
                    height: 80%;
                }
            }
        }
    }
}

// Mobile in landscape
@media (orientation = landscape) and (pointer: coarse){
    .vaultView {
        width: clamp(28.125rem, 75.058vw + 4.669rem, 68.75rem);
        align-self: center;
        height: clamp(12.5rem, 65.82vw - 8.069rem, 48.125rem);
        top: clamp(5.625rem, 12.702vw + 1.656rem, 12.5rem);
        .utilsContainer {
            width: clamp(17rem, 55.048vw + 6.678rem, 41.875rem);
            flex-direction: row;
            input {
                margin: clamp(0.313rem, 0.692vw + 0.183rem, 0.625rem);
                font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
            }
            .addButton {
                font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
                margin: clamp(0.313rem, 0.692vw + 0.183rem, 0.625rem);
            }
        }
        .vaultDisplay {
            margin: clamp(0.313rem, 2.887vw - 0.59rem, 1.875rem) 0 0;
            width: 90%;
            height: clamp(9.375rem, 57.737vw - 8.668rem, 40.625rem);
            .vaultEntry {
                width: 97%;
                margin: 5px 0;
                @include copy;
                .tag {
                    left: clamp(21.313rem, 53.695vw + 4.533rem, 50.375rem);
                    top: calc(clamp(0.5rem, 0.924vw + 0.211rem, 1rem)* -1);
                    width: clamp(5rem, 16.166vw - 0.052rem, 13.75rem);
                    height: clamp(2.5rem, 6.928vw + 0.335rem, 6.25rem);
                    h3 {
                        margin: 0;
                        text-align: center;
                        color: white;
                        width: 100%;
                        align-self: end;
                        font-size: clamp(0.938rem, 2.887vw + 0.035rem, 2.5rem);
                    }
                }
                .work {
                    h3 {
                        font-size: clamp(0.938rem, 2.887vw + 0.035rem, 2.5rem);
                    }
                }
                .social {
                    h3 {
                        font-size: clamp(0.875rem, 2.425vw + 0.117rem, 2.188rem);
                    }
                }
                .school {
                    h3 {
                        font-size: clamp(0.75rem, 2.309vw + 0.028rem, 2rem);
                    }
                }
                .personal {
                    h3 {
                        font-size: clamp(0.688rem, 1.963vw + 0.074rem, 1.75rem);
                    }
                }
                .website, .username, .password, .createdAt, .updatedAt, .notes {
                    @include copy;
                    flex-direction: row;
                    width: 80%;
                    margin: clamp(0.125rem, 0.346vw + 0.017rem, 0.313rem) clamp(0.625rem, 2.309vw - 0.097rem, 1.875rem);
                    .label, .value {
                        margin: 0 0 0 5px;
                        font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
                    }
                    .value {
                        width: 90%;
                    }
                    .row {
                        button {
                            font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
                            width: auto
                        }
                    }
                }
                .website {
                    margin-top: calc(clamp(1.875rem, 5.774vw + 0.071rem, 5rem)* -1);
                }
                .notes {
                    flex-direction: row;
                    height: auto;
                    width: 100%;
                }
                .createdAt, .updatedAt {
                    height: 30px;
                    width: 90%;
                    .label {
                        width: clamp(7.188rem, 7.506vw + 4.842rem, 11.25rem);
                    }
                    .value {
                        width: 90%;
                    }
                }
                .buttons {
                    margin: clamp(0rem, 2.309vw - 0.722rem, 1.25rem);
                }
                .arrow {
                    transform: rotate(180deg);
                    background: none;
                    border: none;
                }
            }
            .hidden {
                margin: 5px 0;
                .tag {
                    left: clamp(21.25rem, 54.965vw + 4.073rem, 51rem);
                    top: calc(clamp(0.5rem, 0.924vw + 0.211rem, 1rem)* -1);
                    width: clamp(5rem, 16.166vw - 0.052rem, 13.75rem);
                    height: clamp(2.5rem, 6.928vw + 0.335rem, 6.25rem);
                    h3 {
                        font-size: clamp(0.688rem, 1.963vw + 0.074rem, 1.75rem);
                    }
                }
                .username, .password, .createdAt, .updatedAt, .notes {
                    display: none;
                }
                .website {
                    margin-top: calc(clamp(1.875rem, 4.619vw + 0.432rem, 4.375rem)* -1);
                    margin-bottom: calc(clamp(0.625rem, 0.577vw + 0.445rem, 0.938rem)* -1);
                    .value {
                        width: auto;
                    }
                }
                .buttons {
                    display: none;
                }
                .arrow {

                    transform: unset;
                    background: none;
                    border: none;
                }
            }
        }
        .keyContainer {
            width: 70%;
            h1 {
                font-size: clamp(0.875rem, 3.002vw - 0.063rem, 2.5rem);
                margin: clamp(0.313rem, 1.732vw - 0.229rem, 1.25rem) clamp(0.625rem, 1.155vw + 0.264rem, 1.25rem);
            }
            input {
                width: 80%;
                font-size: clamp(0.875rem, 3.002vw - 0.063rem, 2.5rem);
            }
            button {
                font-size: clamp(0.875rem, 3.002vw - 0.063rem, 2.5rem);
                margin: clamp(0.625rem, 1.155vw + 0.264rem, 1.25rem) 0 clamp(0.313rem, 1.732vw - 0.229rem, 1.25rem);
            }
            h2 {
                font-size: clamp(0.875rem, 3.002vw - 0.063rem, 2.5rem);
                margin: clamp(0.313rem, 1.732vw - 0.229rem, 1.25rem) clamp(0.625rem, 1.155vw + 0.264rem, 1.25rem);
            }
        }
        .entryCreationContainer {
            top: calc(clamp(5.625rem, 12.009vw + 1.872rem, 12.125rem)* -1);
            .formContainer {
                top: clamp(0.625rem, 10.393vw - 2.623rem, 6.25rem);
                width: 80%;
                .inputs {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0;

                    label {
                        text-align: left;
                        font-size: clamp(0.625rem, 2.309vw - 0.097rem, 1.875rem);
                    }
                    h2 {
                        font-size: clamp(0.625rem, 2.309vw - 0.097rem, 1.875rem);
                    }
                    input, textarea {
                        justify-self: right;
                        width: 80%;
                        font-size: clamp(0.625rem, 2.309vw - 0.097rem, 1.875rem);
                    }
                    button {
                        margin: 2px 0 0;
                        font-size: clamp(0.625rem, 2.309vw - 0.097rem, 1.875rem);
                    }
                    textarea {
                        height: clamp(0.625rem, 2.309vw - 0.097rem, 1.875rem);
                        width: 80%;
                    }
                    .checkBoxes {
                        display: flex;
                        flex-direction: row;
                    }
                }
                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                
                    button {
                        @include border;
                        @include text;
                        background: none;
                        width: 40%;
                        align-self: center;
                        margin: 5px;
                        font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
                    }
                }
                h3 {
                    font-size: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
                    margin: 1px;
                }
            }
        }
        .loading {
            top: calc(clamp(5.5rem, 12.125vw + 1.711rem, 11.563rem)* -1);
            .badge {
                width: 15%;
                max-width: 300px;
                video {
                    width: 80%;
                    height: 80%;
                }
            }
        }
    }
}