@use './abstracts/mixins' as *;

@media (min-width: 0px) {
    .vaultView {
        width: 100%;
        height: 77vh;
        display: flex;
        justify-content: center;
        position: absolute;
        top: clamp(7.813rem, 32.503vw + 1.718rem, 22.5rem);
        flex-direction: column;

        .utilsContainer {
            @include container;
            @include border;
            @include shadow;
            @include text;
            width: clamp(17rem, 55.048vw + 6.678rem, 41.875rem);
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;

            input {
                @include text;
                text-align: center;
                margin: clamp(0.313rem, 0.692vw + 0.183rem, 0.625rem);
                font-size: clamp(0.938rem, 2.075vw + 0.548rem, 1.875rem);
            }
            .addButton {
                width: auto;
                @include border;
                @include text;
                background: none;
                font-size: clamp(0.938rem, 2.075vw + 0.548rem, 1.875rem);
                margin: clamp(0.313rem, 0.692vw + 0.183rem, 0.625rem);
            }
        }
        .vaultDisplay {
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 77%;
            align-self: center;
            .vaultEntry {
                display: flex;
                flex-direction: column;
                border: 2px solid gray;
                border-radius: 20px;
                margin: 5px 0;
                overflow: clip;

                .tag {
                    position: relative;
                    left: 74%;
                    top: -2%;
                    margin: 0;
                    width: 40%;
                    height: 20%;
                    transform: rotate(45deg);
                    display: flex;

                    h3 {
                        margin: 0;
                        text-align: center;
                        color: white;
                        width: 100%;
                        align-self: end;
                    }
                }
                .work {
                    background-color: green;
                }
                .social {
                    background-color: blue;
                }
                .school {
                    background-color: red;
                }
                .personal {
                    background-color: gray;
                }

                .label, .username, .password, .createdAt, .updatedAt, .notes {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 5px 5px;
                    height: 60px;

                    .label, .value {
                        height: 100%;
                        align-self: flex-start;
                        justify-self: center;
                        height: 50%;
                        margin: 0 0 0 5px;
                    }
                    .label {
                        
                    }
                    .value {
                        width: 90%;
                        color: rgb(88, 88, 88);
                    }
                }
                .notes {
                    flex-direction: row;
                    height: auto;
                    .label, .value {
                    }
                    .label {
                    }
                    .value {

                    }
                }
                .createdAt, .updatedAt {
                    flex-direction: row;
                    height: 30px;
                    .label {
                        width: 115px;
                    }
                    .value {
                        width: 90%;
                        text-align: right;
                    }
                }
                .buttons {
                    display: flex;
                    justify-content: space-around;
                    margin: 5px;
                }
            }
        }
        .keyContainer {
            @include container;
            @include text;
            @include border;
            @include shadow;
            display: flex;
            flex-direction: column;
            width: 90%;
            height: auto;
            text-align: center;
            align-self: center;
            position: absolute;
            top: 0;

            h1, h2 {
                font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                margin: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
            }
            input {
                font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                align-self: center;
                width: 80%
            }
            button {
                @include text;
                @include border;
                background: none;
                font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                margin: clamp(0.625rem, 4.149vw - 0.153rem, 2.5rem);
                align-self: center;
                width: clamp(8.438rem, 32.503vw + 2.343rem, 23.125rem);
            }
        }
        .popUpContainer {
            @include container;
            @include text;
            @include border;
            @include shadow;
            display: flex;
            flex-direction: column;
            width: 90%;
            height: auto;
            text-align: center;
            align-self: center;
            position: absolute;
            top: 0;
            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center ;
                button {
                margin: 5px;
            }
            }
            
        }
        .entryCreationContainer {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            text-align: center;
            align-self: center;
            position: absolute;
            top: calc(clamp(7.75rem, 43.015vw - 0.315rem, 27.188rem)* -1);
            z-index: 1000000;
            backdrop-filter: blur(clamp(0.063rem, 0.692vw - 0.067rem, 0.375rem));
            .formContainer {
                @include container;
                @include text;
                @include border;
                @include shadow;
                display: flex;
                flex-direction: column;
                width: 90%;
                height: auto;
                text-align: center;
                align-self: center;
                position: absolute;
                top: clamp(5rem, 44.26vw - 3.299rem, 25rem);
                .inputs {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 2px 0;

                    label {
                        text-align: left;
                        font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                    }
                    input, textarea {
                        justify-self: right;
                        width: 80%;
                        font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                    }
                    button {
                        @include border;
                        @include text;
                        background: none;
                        margin: 2px 0 0;
                        font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                    }
                    textarea {
                        height: clamp(3rem, 15.491vw + 0.095rem, 10rem);
                        width: 80%;
                    }
                    .checkBoxes {
                        display: flex;
                        flex-direction: row;
                    }
                }
                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                
                    button {
                        @include border;
                        @include text;
                        background: none;
                        width: 40%;
                        align-self: center;
                        margin: 5px;
                        font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                    }
                }
                h3 {
                    font-size: clamp(0.938rem, 3.458vw + 0.289rem, 2.5rem);
                    margin: 1px;
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .vaultView {
        width: 80%;
        align-self: center;
        height: 85%;

        .vaultDisplay {
            height: 100%;
            .vaultEntry {
                .label, .username, .password, .notes {
                    flex-direction: row;
                }
            }
        }

        .keyEntryContainer {
            width: 40%;
        }

        .entryCreationContainer {
            height: 100vh;
            top: -98px;
            left: -108px;
        }
    }
}