$background-light: #E8EFF3;
$background-dark: #0D1A1F;
$component-light: #F1F1F1;
$component-dark: #1B2A30;
$logo-light: #33CCCC;
$logo-dark: #33CCCC;
$highlight-light: #005FCC;
$highlight-dark: #66B3FF;
$text-light: #051118;
$text-dark: #F1F1F1;
$border-light: #DDE1E4;
$border-dark: #2A3C43;

@font-face {
    font-family: 'Baloo';
    src: url('../../assets/fonts/Baloo2-VariableFont_wght.ttf') format('truetype-variations'),
        url('../../assets/fonts/baloo-Regular.woff') format('woff'),
        url('../../assets/fonts/baloo-Regular.woff2') format('woff2');
    font-weight: 1 999;
}

@mixin background {
    background-color: light-dark($background-light, $background-dark);
}

@mixin container {
    background-color: light-dark($component-light, $component-dark);
    @media (min-width: 0px) { 
        border-radius: clamp(1.25rem, 4.144vw + 0.473rem, 3.125rem);
    }
    @media (min-width: 1025px) { 
        border-radius: clamp(2.188rem, 2.232vw + 0.759rem, 3.438rem);
    }
    @media (orientation: landscape) and (pointer: coarse) { 
        border-radius: clamp(0.813rem, 1.963vw + 0.199rem, 1.875rem);
    }
}
@mixin logo {
    background-color: light-dark($logo-light, $logo-dark);
}
@mixin highlight {
    text-decoration: light-dark($highlight-light, $highlight-dark);
}
@mixin text {
    color: light-dark($text-light, $text-dark);
    font-family: 'Baloo';
}
@mixin border {
    @media (min-width: 0px) {
        border: clamp(0.063rem, 0.277vw + 0.011rem, 0.188rem) solid light-dark($border-light, $border-dark);
    }
    @media (min-width: 1024px) {
        border: clamp(0.125rem, 0.223vw - 0.018rem, 0.25rem) solid light-dark($border-light, $border-dark);
    }
}
@mixin shadow {
    @media (min-width: 0px) {
        -webkit-box-shadow:0px clamp(0.188rem, 1.383vw - 0.072rem, 0.813rem) clamp(0.313rem, 1.66vw + 0.001rem, 1.063rem) 0px light-dark($border-light, $border-dark);
        -moz-box-shadow: 0px clamp(0.188rem, 1.383vw - 0.072rem, 0.813rem) clamp(0.313rem, 1.66vw + 0.001rem, 1.063rem) 0px light-dark($border-light, $border-dark);
        box-shadow: 0px clamp(0.188rem, 1.383vw - 0.072rem, 0.813rem) clamp(0.313rem, 1.66vw + 0.001rem, 1.063rem) 0px light-dark($border-light, $border-dark);
    }
    @media (min-width: 1024px) {
        -webkit-box-shadow:0px clamp(0.313rem, 0.335vw + 0.098rem, 0.5rem) clamp(0.438rem, 0.558vw + 0.08rem, 0.75rem) 0px light-dark($border-light, $border-dark);
        -moz-box-shadow: 0px clamp(0.313rem, 0.335vw + 0.098rem, 0.5rem) clamp(0.438rem, 0.558vw + 0.08rem, 0.75rem) 0px light-dark($border-light, $border-dark);
        box-shadow: 0px clamp(0.313rem, 0.335vw + 0.098rem, 0.5rem) clamp(0.438rem, 0.558vw + 0.08rem, 0.75rem) 0px light-dark($border-light, $border-dark);
    }
}
@mixin copy {
    @media (min-width: 0px) {
        button {
            background: none;
            border: none;
            margin: 0;
            width: auto;
            img {
                width: clamp(0.938rem, 3.453vw + 0.29rem, 2.5rem);
                height: auto
            }
        }
    }
    @media (min-width: 1025px) {
        button {
            img {
                width: clamp(0.938rem, 0.558vw + 0.58rem, 1.25rem);
                height: auto
            }
        }
    }
    @media (orientation: landscape) and (pointer: coarse) { 
        button {
            img {
                width: clamp(0.938rem, 1.732vw + 0.396rem, 1.875rem);
                height: auto
            }
        }
    }
}